<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{aside-layout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<div layout:fragment="content">
         <!--############ PAGE START-->

        <div class="row-col">
            <div class="col-lg b-r">
                <div class="row no-gutter">
                    <div class="col-xs-6 col-sm-3 b-r b-b">
                        <div class="padding">
                            <div>
                                <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
                                <span class="text-muted l-h-1x"><i class="ion-ios-grid-view text-muted"></i></span>
                            </div>
                            <div class="text-center">
                                <h2 class="text-center _600">45</h2>
                                <p class="text-muted m-b-md">New Projects</p>
                                <div>
                                    <span data-ui-jp="sparkline" data-ui-options="[2,3,2,2,1,3,6,3,2,1], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 b-r b-b">
                        <div class="padding">
                            <div>
                                <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
                                <span class="text-muted l-h-1x"><i class="ion-document text-muted"></i></span>
                            </div>
                            <div class="text-center">
                                <h2 class="text-center _600">219</h2>
                                <p class="text-muted m-b-md">New Invoices</p>
                                <div>
                                    <span data-ui-jp="sparkline" data-ui-options="[1,1,0,2,3,4,2,1,2,2], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 b-r b-b">
                        <div class="padding">
                            <div>
                                <span class="pull-right"><i class="fa fa-caret-down text-danger m-y-xs"></i></span>
                                <span class="text-muted l-h-1x"><i class="ion-pie-graph text-muted"></i></span>
                            </div>
                            <div class="text-center">
                                <h2 class="text-center _600">8</h2>
                                <p class="text-muted m-b-md">New Quotes</p>
                                <div>
                                    <span data-ui-jp="sparkline" data-ui-options="[9,2,5,5,7,4,4,3,2,2], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 b-b">
                        <div class="padding">
                            <div>
                                <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
                                <span class="text-muted l-h-1x"><i class="ion-paper-airplane text-muted"></i></span>
                            </div>
                            <div class="text-center">
                                <h2 class="text-center _600">36</h2>
                                <p class="text-muted m-b-md">New Compains</p>
                                <div>
                                    <span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box">
                                <div class="box-header">
                                    <h3>Messages</h3>
                                </div>
                                <ul class="list-group no-border m-b">
                                    <li class="list-group-item">
                                        <a href="#" class="pull-left w-40 m-r"><img th:src="@{resources/images/a8.jpg}" class="img-responsive img-circle" alt="."></a>
                                        <div class="clear">
                                            <a href="#" class="_500 block">Jonathan Doe</a>
                                            <span class="text-muted text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="" class="pull-left w-40 m-r"><img th:src="@{resources/images/a2.jpg}" class="img-responsive img-circle" alt="."></a>
                                        <div class="clear">
                                            <a href="#" class="_500 block">Jack Michale</a>
                                            <span class="text-muted text-ellipsis">Sectetur adipiscing elit</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="" class="pull-left w-40 m-r"><img th:src="@{resources/images/a3.jpg}" class="img-responsive img-circle" alt="."></a>
                                        <div class="clear">
                                            <a href="#" class="_500 block">Jessi</a>
                                            <span class="text-muted text-ellipsis">Sectetur adipiscing elit</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="" class="pull-left w-40 m-r"><img th:src="@{resources/images/a4.jpg}" class="img-responsive img-circle" alt="."></a>
                                        <div class="clear">
                                            <a href="#" class="_500 block">Sodake</a>
                                            <span class="text-muted text-ellipsis">Vestibulum ullamcorper sodales nisi nec condimentum</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <div class="box-header b-b">
                                    <h3>News</h3>
                                </div>
                                <ul class="list">
                                    <li class="list-item">
                                        <div class="list-body">
                                            <div class="text-ellipsis">Wellcome <a href="#" class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </div>
                                            <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="list-body">
                                            <p>Morbi nec <a href="#" class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                                            <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="list-body">
                                            <p><a href="#" class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam</p>
                                            <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg w-lg w-auto-md white bg">
                <div>
                    <div class="p-a">
                        <h6 class="text-muted m-a-0">Quick chat</h6>
                    </div>
                    <div class="list inset">
                        <a class="list-item" data-toggle="modal" data-target="#chat" data-dismiss="modal">
		            <span class="list-left">
		            	<span class="avatar">
		            		<i class="on avatar-center no-border"></i>
		                	<img th:src="@{resources/images/a1.jpg}" class="w-20" alt=".">
		                </span>
		            </span>
                            <span class="list-body text-ellipsis">
		            	Jonathan Morina
		            </span>
                        </a>
                        <a class="list-item" data-toggle="modal" data-target="#chat" data-dismiss="modal">
		            <span class="list-left">
		            	<span class="avatar">
		            		<i class="on avatar-center no-border"></i>
		                	<img th:src="@{resources/images/a2.jpg}" class="w-20" alt=".">
		                </span>
		            </span>
                            <span class="list-body text-ellipsis">
		            	Crystal Guerrero
		            </span>
                        </a>
                        <a class="list-item" data-toggle="modal" data-target="#chat" data-dismiss="modal">
		            <span class="list-left">
		            	<span class="avatar">
		            		<i class="on avatar-center no-border"></i>
		                	<img th:src="@{resources/images/a3.jpg}" class="w-20" alt=".">
		                </span>
		            </span>
                            <span class="list-body text-ellipsis">
		            	Judith Garcia
		            </span>
                        </a>
                        <a class="list-item" data-toggle="modal" data-target="#chat" data-dismiss="modal">
		            <span class="list-left">
		            	<span class="avatar">
		            		<i class="away avatar-center no-border"></i>
		                	<img th:src="@{resources/images/a4.jpg}" class="w-20" alt=".">
		                </span>
		            </span>
                            <span class="list-body text-ellipsis">
		            	Melissa Garza
		            </span>
                        </a>
                        <a class="list-item" data-toggle="modal" data-target="#chat" data-dismiss="modal">
		            <span class="list-left">
		            	<span class="avatar">
		            		<i class="off avatar-center no-border"></i>
		                	<img th:src="@{resources/images/a5.jpg}" class="w-20" alt=".">
		                </span>
		            </span>
                            <span class="list-body text-ellipsis">
		            	Douglas Torres
		            </span>
                        </a>
                    </div>
                    <div class="p-a">
                        <h6 class="text-muted m-a-0">Activities</h6>
                    </div>
                    <div class="streamline streamline-theme m-b">
                        <div class="sl-item b-success">
                            <div class="sl-content">
                                <div>Finished task <a href="#" class="text-info">#features 4</a>.</div>
                                <div class="sl-date text-muted">Just now</div>
                            </div>
                        </div>
                        <div class="sl-item b-success active">
                            <div class="sl-content">
                                <div><a href="#">@Jessi</a> uploaded a file <a href="#" class="text-info">documentation.pdf</a></div>
                                <div class="sl-date text-muted">11:30</div>
                            </div>
                        </div>
                        <div class="sl-item b-info">
                            <div class="sl-content">
                                <div>Call to customer <a href="#" class="text-info">Jacob</a> and discuss the detail.</div>
                                <div class="sl-date text-muted">10:30</div>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-content">
                                <div><a href="#" class="text-info">Jessi</a> commented your post.</div>
                                <div class="sl-date text-muted">3 days ago</div>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-content">
                                <div><a href="#" class="text-info">Jessi</a> report a issue #2122.</div>
                                <div class="sl-date text-muted">Thu, 10 Mar</div>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-content">
                                <div>Prepare for presentation</div>
                                <div class="sl-date text-muted">Sat, 5 Mar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade inactive" id="chat" data-backdrop="false">
            <div class="modal-right w-xxl dark-white b-l">
                <div class="row-col">
                    <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">&times;</a>
                    <div class="p-a b-b">
                        <span class="h5">Chat</span>
                    </div>
                    <div class="row-row light">
                        <div class="row-body scrollable hover">
                            <div class="row-inner">
                                <div class="p-a-md">
                                    <div class="m-b">
                                        <a href="#" class="pull-left w-40 m-r-sm"><img th:src="@{resources/images/a2.jpg}" alt="..." class="w-full img-circle"></a>
                                        <div class="clear">
                                            <div class="p-a p-y-sm dark-white inline r">
                                                Hi John, What's up...
                                            </div>
                                            <div class="text-muted text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 2 minutes ago</div>
                                        </div>
                                    </div>
                                    <div class="m-b">
                                        <a href="#" class="pull-right w-40 m-l-sm"><img th:src="@{resources/images/a3.jpg}" class="w-full img-circle" alt="..."></a>
                                        <div class="clear text-right">
                                            <div class="p-a p-y-sm success inline text-left r">
                                                Lorem ipsum dolor soe rooke..
                                            </div>
                                            <div class="text-muted text-xs m-t-xs">1 minutes ago</div>
                                        </div>
                                    </div>
                                    <div class="m-b">
                                        <a href="#" class="pull-left w-40 m-r-sm"><img th:src="@{resources/images/a2.jpg}" alt="..." class="w-full img-circle"></a>
                                        <div class="clear">
                                            <div class="p-a p-y-sm dark-white inline r">
                                                Good!
                                            </div>
                                            <div class="text-muted text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 5 seconds ago</div>
                                        </div>
                                    </div>
                                    <div class="m-b">
                                        <a href="#" class="pull-right w-40 m-l-sm"><img th:src="@{resources/images/a3.jpg}" class="w-full img-circle" alt="..."></a>
                                        <div class="clear text-right">
                                            <div class="p-a p-y-sm success inline text-left r">
                                                Dlor soe isep..
                                            </div>
                                            <div class="text-muted text-xs m-t-xs">Just now</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-a b-t">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Say something">
                                <span class="input-group-btn">
  	            <button class="btn white b-a no-shadow" type="button">SEND</button>
  	          </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
        <!-- ############ PAGE END-->

</body>
</html>