<!-- build:js scripts/app.min.js -->
<!-- jQuery -->
<script th:src="@{resources/libs/jquery/dist/jquery.js}"></script>
<!-- Bootstrap -->
<script th:src="@{resources/libs/tether/dist/js/tether.min.js}"></script>
<script th:src="@{resources/libs/bootstrap/dist/js/bootstrap.js}"></script>
<!-- core -->
<script th:src="@{resources/libs/jQuery-Storage-API/jquery.storageapi.min.js}"></script>
<script th:src="@{resources/libs/PACE/pace.min.js}"></script>
<script th:src="@{resources/libs/jquery-pjax/jquery.pjax.js}"></script>
<script th:src="@{resources/libs/blockUI/jquery.blockUI.js}"></script>
<script th:src="@{resources/libs/jscroll/jquery.jscroll.min.js}"></script>
<script th:src="@{resources/libs/screenfull/dist/screenfull.min.js}"></script>

<script th:src="@{resources/scripts/config.lazyload.js}"></script>
<script th:src="@{resources/scripts/ui-load.js}"></script>
<script th:src="@{resources/scripts/ui-jp.js}"></script>
<script th:src="@{resources/scripts/ui-include.js}"></script>
<script th:src="@{resources/scripts/ui-device.js}"></script>
<script th:src="@{resources/scripts/ui-form.js}"></script>
<script th:src="@{resources/scripts/ui-modal.js}"></script>
<script th:src="@{resources/scripts/ui-nav.js}"></script>
<script th:src="@{resources/scripts/ui-list.js}"></script>
<script th:src="@{resources/scripts/ui-screenfull.js}"></script>
<script th:src="@{resources/scripts/ui-scroll-to.js}"></script>
<script th:src="@{resources/scripts/ui-toggle-class.js}"></script>
<script th:src="@{resources/scripts/ui-taburl.js}"></script>
<script th:src="@{resources/scripts/app.js}"></script>
<script th:src="@{resources/scripts/ajax.js}"></script>
